<header class="home d-flex align-items-center justify-content-end text-end position-relative">
    <div class="container bannr-text text-light justify-content-end align-items-end me-5 p-1 ">
      <h1>معك في كل مكان لمساعدتك</h1>
      <p>
        الإسعاف الطبي بالمجان لجميع المواطنين والمقيمين بجمهورية مصر العربية في حالات الحوادث
        والكوارث
      </p>
    </div>
  
    <div class="d-flex position-absolute end-0 bottom-0 start-0 position-relative">
      <div class="text-center overlabhome w position-absolute end-0 bottom-0 start-0">
        <h1 class="font-bold fonttextH text-center fs-2">احصائيات وارقام</h1>
        <div class="row w-100 align-items-around  jutextoverlap justify-content-around">
          <div class="col  textsizem">
            <h3 class="fs-2 text-white textsizem1 py-2">90%</h3>
            <span class="font-bold textsizem2 py-2">تقيمات ايجابيه</span>
            <h4 class="text-white textsizem3 py-4">من عملائنا الراضين</h4>
          </div> 
          <div class="col textsizem">
            <h3 class="fs-2 text-white py-2 ">+1400</h3>
            <span class="font-bold py-2">في خلال سنه</span>
            <h4 class="text-white py-4">نقل مريض عن طريق خبير</h4>
          </div>
          <div class="col textsizem">
            <h3 class="fs-2 text-white py-2">+400</h3>
            <span class="font-bold py-2">مساعده في الاستشفاء</span>
            <h4 class="text-white py-4">ارشادات الخبراء في الاستشفاء</h4>
          </div>
        </div>
      </div>
  
      <div class="layerposition position-absolute bg-white rounded-1 p-3 w-25">
        <div class="d-flex font-semibold text-muted textsize justify-content-center align-items-center mb-2">
          <img src="../../assets/images/5.jpg" >
   
          <p class="mb-0 textsizee fw-bold ">123</p>
        </div>
        <p class="font-semibold text-muted size2 text-center fw-bold ">
          اتصل بنا علي الخط الساخن اذا كنت تحتاج الي مساعده طارئه
        </p>
      </div>
    </div>
  </header>
  <a routerLink="/first-aia-c">
    <button class="btn btn-danger">اضغط للاشتراك</button>
  </a>
  